.vs/
Panama/obj/
Panama/bin/
Panama.IoC.Autofac/obj/
Panama.IoC.Autofac/bin/
Panama.Jobs.Quartz/obj/
Panama.Jobs.Quartz/bin/
Panama.Sql.Dapper/obj/
Panama.Sql.Dapper/bin/
Panama.Tests/obj/
Panama.Tests/bin/
packages/

