.vs/
Panama/obj/
Panama/bin/
Panama.IoC.Autofac/obj/
Panama.IoC.Autofac/bin/
Panama.Jobs.Quartz/obj/
Panama.Jobs.Quartz/bin/
Panama.Sql.Dapper/obj/
Panama.Sql.Dapper/bin/
Panama.Tests/obj/
Panama.Tests/bin/
Panama.IoC.Ninject/bin/
Panama.IoC.Ninject/obj/
Panama.Security/bin/
Panama.Security/obj/
packages/
Examples/autofac-webapi/.vs/
Examples/autofac-webapi/dev.API/obj/
Examples/autofac-webapi/dev.API/bin/
Examples/autofac-webapi/dev.API/appSettings.config
Examples/autofac-webapi/dev.Business/obj/
Examples/autofac-webapi/dev.Business/bin/
Examples/autofac-webapi/dev.Entities/obj/
Examples/autofac-webapi/dev.Entities/bin/



