<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="appName" value="AryYah Listing Clean-up Service" />
  
  <targets>

    <target xsi:type="Console"
          name="console"
          layout="${longdate}: ${logger} - ${message}"/>
    
    <target xsi:type="EventLog"
          name="event"
          layout="${longdate}: ${logger} - ${message}"
          source="Application" />
    
    <target xsi:type="File" 
        name="file" 
        fileName="${basedir}/logs/${processname}.log" 
        layout="${longdate}: ${logger} - ${message}"/>
  
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="console,file" />
  </rules>
</nlog>