<?xml version="1.0"?>
<appSettings>
  <add key="Database" value="Server=den1.mssql4.gear.host;Database=miami;User Id=miami;Password=Xs9J3~!m0PSq;"/>
  <add key="Secret" value="8E1FED0BA64447FCA526E32FE5B90FA6"/>
  <add key="Salt" value="ILJ7PVI1eHBEQ0T8cqFYXXs2fdTgmJ3QHusXWgzz1Ks="/>
  <add key="Vector" value="o0+temF+qi9vVJazVAWnNg=="/>
</appSettings>
